.flexitype-button {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    z-index: 9;
	justify-content: center;
	padding: 12px 32px;
	transition: 0.4s;
	background: #ECEFF1;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
	&.left {
		flex-direction: row-reverse;
	}
	&:hover {
		color: #FFFFFF;
		background: #3949F4;
		svg path {
			fill: #FFFFFF;
		}
	}
	i {
		position: relative;
	}
	.icon {
		display: flex;
		position: relative;
		svg {
			width: 16px;
			transition: 0.4s;
		}
	}
} 