/*=============================================================
Welcome Page
==============================================================*/
#toplevel_page_flexitype img {
  width: 20px;
  padding: 7px 0 !important;
}

.flexitype-wrap-box-area-item-icon i {
  font-size: 20px;
  color: #444242;
}

.flexitype-wrap {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  margin-top: 50px;
  padding-right: 20px;
}
.flexitype-wrap p {
  font-size: 14px;
  font-family: "Inter";
}
.flexitype-wrap-box {
  padding: 40px;
  border-radius: 5px;
  background: #fff;
}
.flexitype-wrap-box-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.flexitype-wrap-box-area-item {
  border-top: 1px solid #e4e4e4;
  padding-top: 30px;
  margin-top: 30px;
  display: flex;
  gap: 15px;
}
.flexitype-wrap-box-area-item:nth-child(2), .flexitype-wrap-box-area-item:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}
.flexitype-wrap-box-area-item-icon img {
  max-width: 20px;
  filter: brightness(0.5);
}
.flexitype-wrap-box-area-item p,
.flexitype-wrap-box-area-item h1 {
  margin: 0;
}
.flexitype-wrap-box-area-item p {
  margin-top: 20px;
}
.flexitype-wrap-box-video {
  margin-top: 50px;
  text-align: center;
}
.flexitype-wrap-box-video iframe {
  width: 80%;
  height: 400px;
}
.flexitype-wrap-sidebar-item {
  margin-top: 25px;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
}
.flexitype-wrap-sidebar-item:first-child {
  margin-top: 0;
}
.flexitype-wrap-sidebar-item p,
.flexitype-wrap-sidebar-item h1 {
  margin: 0;
}
.flexitype-wrap-sidebar-item p {
  margin-top: 20px;
}
.flexitype-wrap-sidebar-item.support ul {
  padding: 0;
  margin: 0;
}
.flexitype-wrap-sidebar-item.support ul li {
  list-style: none;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.flexitype-wrap-sidebar-item.support ul li:last-child {
  padding: 0;
  margin: 0;
  border: 0;
}
.flexitype-wrap-sidebar-item.support ul li a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #3f454a;
  font-size: 16px;
  transition: 0.4s;
}
.flexitype-wrap-sidebar-item.support ul li a i {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #f3f3f3;
  color: #9a9ca0;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.flexitype-wrap-sidebar-item.support ul li a:hover {
  color: #3949f4;
}
.flexitype-wrap-sidebar-item.support ul li a:hover i {
  background: #3949f4;
  color: #fff;
}
.flexitype-wrap-sidebar-item.pro_features h4 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}
.flexitype-wrap-sidebar-item.pro_features p {
  margin: 0;
}
.flexitype-wrap-sidebar-item.pro_features a {
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  padding: 10px 16px;
  text-decoration: none;
  background: #3949f4;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}
.flexitype-wrap-sidebar-item.pro_features ul {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
  margin-top: 28px;
}
.flexitype-wrap-sidebar-item.pro_features ul li {
  list-style: none;
  color: #0C0D0E;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.flexitype-wrap-sidebar-item.pro_features ul li i {
  color: #3949f4;
  font-size: 17px;
}

@media (max-width: 1300px) {
  .flexitype-wrap {
    grid-template-columns: 3fr 2fr;
    gap: 25px;
  }
  .flexitype-wrap-box-area {
    display: block;
  }
  .flexitype-wrap-box-area-item:nth-child(2) {
    border-top: 1px solid #e4e4e4;
    padding-top: 30px;
    margin-top: 30px;
  }
  .flexitype-wrap-sidebar-item {
    margin-top: 30px;
  }
}
@media (max-width: 1050px) {
  .flexitype-wrap {
    grid-template-columns: inherit;
  }
}
/*=============================================================
# Options Page
==============================================================*/
.flexitype_options_wrap .csf-container {
  border: none !important;
}
.flexitype_options_wrap .csf-header-inner {
  background: #fff !important;
}
.flexitype_options_wrap .csf-footer {
  color: #000000;
  border-color: none;
  background: #fff !important;
}
.flexitype_options_wrap .csf-buttons .csf-save,
.flexitype_options_wrap .button,
.flexitype_options_wrap .csf-buttons .csf-save:hover,
.flexitype_options_wrap .button:hover,
.flexitype_options_wrap .csf-buttons .csf-save:active,
.flexitype_options_wrap .button:active,
.flexitype_options_wrap .csf-buttons .csf-save:focus,
.flexitype_options_wrap .button:focus {
  background: #3949f4;
  border-color: #3949f4;
  color: #fff;
  box-shadow: none;
}
.flexitype_options_wrap .csf-nav-inline {
  background-color: #fff !important;
}
.flexitype_options_wrap .csf-nav-inline,
.flexitype_options_wrap .csf-footer,
.flexitype_options_wrap .csf-header-inner {
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.flexitype_options_wrap .csf-nav-inline > ul li a {
  border: none !important;
}
.flexitype_options_wrap .csf-field-group .csf-cloneable-title {
  border-color: rgba(57, 73, 244, 0.1098039216);
  background-color: rgba(57, 73, 244, 0.1098039216);
}
.flexitype_options_wrap .csf-field-group .csf-cloneable-content {
  border-color: rgba(57, 73, 244, 0.1098039216);
}
.flexitype_options_wrap .csf-field-group .csf-cloneable-title:active,
.flexitype_options_wrap .csf-field-group .csf-cloneable-title:focus,
.flexitype_options_wrap .csf-field-group .csf-cloneable-title:hover,
.flexitype_options_wrap .csf-field-text input:active,
.flexitype_options_wrap .csf-field-text input:hover,
.flexitype_options_wrap .csf-field-text input:focus {
  border-color: #3949f4;
  box-shadow: none !important;
}
.flexitype_options_wrap .csf-field-group .csf-cloneable-placeholder {
  background-color: #3949f4;
}
.flexitype_options_wrap .csf-nav ul li a {
  background-color: rgba(57, 73, 244, 0.1098039216) !important;
}
.flexitype_options_wrap .csf-nav ul li .csf-active {
  color: #fff !important;
  background-color: #3949f4 !important;
}
.flexitype_options_wrap .csf-field-group .csf-cloneable-helper i:hover {
  color: #3949f4;
}
.flexitype_options_wrap .csf-field-text input {
  padding: 5px 10px;
}/*# sourceMappingURL=admin.css.map */